<% include ../partials/header.ejs %>

<form action="./save" class="col-md-4">
    <div class="form-group">
        <label for="street">Name:</label>
        <input type="text" name="name" id="name" value="" class="form-control" />
    </div>
    <label for="address_id">Address:</label>
    <select id="address_id" name="address_id" class="form-control">
        <% address.forEach(function(entry) { %>
            <% var address = entry.street + " " + entry.city + ", " + entry.state_abbr + " " + entry.zip; %>
            <option value="<%= entry.address_id %>"><%= address %></option>
        <% }); %>
    </select>

    <br />
    <input type="submit" />
</form>
<% include ../partials/footer.ejs %>